name: Deploy

on:
  schedule:
    - cron: '0 23 * * 0'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    container: "swift:5.7"
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: |
        swift --version
        swift package --version
        swift build -v

  deploy-github-pages:
    runs-on: ubuntu-latest
    container: "swift:5.7"
    needs: build
    steps:
    - uses: actions/checkout@v3
    - name: Setup
      run: make setup
    - name: Generate the website
      run: make generate
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        personal_token: ${{ secrets.PERSONAL_TOKEN }}
        external_repository: ios-osushi/ios-osushi.github.io
        publish_branch: master
        publish_dir: ./Output
